<script type="text/javascript">
    jQuery(document).ready(function($) {
      $('#fullpage').fullpage({
        verticalCentered: true,
        css3:true,
        autoScrolling: false,
        dragAndMove: false,
        navigation: false,
        responsiveWidth: 700,
        continuousVertical: false,
        menu: '#menu-superior',
        anchors:['inicio', 'alojamiento', 'lago-puelo', 'ubicacion', 'contacto'],
        slidesNavPosition: 'bottom',
        parallax: false,
        lazyLoading: true,
        scrollBar: false,
        scrollOverflow: false,
      });
    });
</script>