<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Fede Schrager - DJ</title>
    <meta name="description" content="Fede Schrager - DJ" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <script
      type="text/javascript"
      src="{{ site.baseurl }}/js/jquery.min.js"
    ></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.4/headroom.min.js"></script>

    <!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
    <script
      type="text/javascript"
      src="{{site.baseurl}}/js/scrolloverflow.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/js/jquery.fullPage.min.js"
    ></script>
    <link rel="stylesheet" href="{{site.baseurl}}/style.css" />

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body data-scrollbar>
    <div class="KW_progressContainer">
      <div class="KW_progressBar"></div>
    </div>

    <script>
    	$(window).load(function(){
		  $(window).scroll(function() {
    		var wintop = $(window).scrollTop(), docheight = $('#fullPage').height(), winheight = $(window).height();
    var totalScroll = (wintop/(docheight-winheight))*100;
    $(".KW_progressBar").css("height",totalScroll+"%");
  });

});
    </script>