<script>
    $('.owl-carousel').owlCarousel({
      autoplay:true,
      autoplayTimeout: 4000,
      autoplayHoverPause:true,
      center: true,
      loop:true,
      singleItem:false,
      touchDrag: true,
      navigation : true, // Show next and prev buttons
      navigationText: [
	      "prev",
	      "next"
      ],
      items:3,
      autoHeight: true,
      animateIn: 'fadeInRight',
      animateOut: 'fadeOutLeft',
      slideSpeed : 4000,
      paginationSpeed : 4000,
      rewind:true,
      margin: 50,
      responsiveClass:true,
         responsive:{
             0:{
                 items:1,
                 nav:true
             },
             600:{
                 items:3,
                 nav:false
             },

         }
    })
  </script>