.social-container {
  display: flex;
  margin-top: 0;
  justify-content: flex-start;

  .item {
    width: 25px;
    margin: 0 15px 0 0;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .fa {
      font-size: 25px;
    }
  }
}
