.sec-alojamiento {
  background-color: #141414;
  //background-image: url('/img/pexels-photo-341028.jpg');
  background-size: cover;

  .inner-wrapper {
    max-width: 980px;
    padding-top: 150px;
    //padding-left: 150px;
    padding-bottom: 300px;

    p {
      font-size: 19px;
      max-width: 600px;
      margin: 15px auto;
      font-size: 21px;
      line-height: 30px;
    }
  }

  .background-image {
    //opacity: .05;
    //position: fixed;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    //width: 100%;
    //z-index: 0;
  }
}

.rooms {
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
  .room-item {
    width: 31%;
    padding: 0;
    text-align: center;
    //background: #0f4042;
    margin: 1%;
    position: relative;
    max-height: 170px;
    overflow: hidden;

    &:hover {
      img {
        opacity: 1;
      }
      b {
        opacity: 0;
      }
    }

    @include media($mobile) {
      width: 100%;
    }

    img {
      width: 100%;
      opacity: 1;
      -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    }

    b {
      margin: 0;
      display: block;
      font-size: 19px;
      font-weight: 600;
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      left: 0;
      right: 0;
      justify-content: center;
      pointer-events: none;
      -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    }
  }
}
