.sec-alojamiento {
  background-color: #141414;
  //background-image: url('/img/pexels-photo-341028.jpg');
  background-size: cover;

  .inner-wrapper {
    max-width: 980px;
    padding-top: 150px;
    //padding-left: 150px;
    padding-bottom: 300px;
  }

  .background-image {
    //opacity: .05;
    //position: fixed;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    //width: 100%;
    //z-index: 0;
  }
}

.rooms {
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
  .room-item {
    width: 31%;
    padding: 0;
    text-align: center;
    //background: #0f4042;
    margin: 1%;
    position: relative;
    //max-height: 170px;
    overflow: hidden;

    &:hover {
      img {
        opacity: 1;
      }
      b {
        opacity: 0;
      }
    }

    @include media($mobile) {
      width: 100%;
    }

    img {
      width: 100%;
      opacity: 1;
      -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    }

    b {
      margin: 0;
      display: block;
      font-size: 19px;
      font-weight: 600;
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      left: 0;
      right: 0;
      justify-content: center;
      pointer-events: none;
      -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    }
  }
}

#section-media {
  .inner-wrapper {
    max-width: 1500px;
    position: relative;
  }
  .item-cipriani {
    position: absolute;
    left: 2vw;
    top: 5vh;
    z-index: 2;
  }

  .item-profile {
    position: absolute;
    left: 2vw;
    top: 5vh;
    z-index: 1;
  }

  .item-club {
    position: absolute;
    right: 10vw;
    bottom: 10vh;
    z-index: 2;
  }

  .item-creamfileds {
    position: absolute;
    right: 2vw;
    top: 5vh;
    z-index: 2;
  }

  .item-new-york {
    position: absolute;
    left: 2vw;
    top: 25vh;
    z-index: 2;
  }

  .item-profile-ny {
    position: absolute;
    right: 2vw;
    top: 5vh;
    z-index: 1;
  }

  .item-central-park {
    position: absolute;
    left: 20vw;
    top: 20vh;
    z-index: 2;
  }

  .item-arena-londres {
    position: absolute;
    left: 2vw;
    bottom: 5vh;
    z-index: 2;
  }

  .item-quote-new-york {
    position: absolute;
    left: 25vw;
    top: 35vh;
    z-index: 2;
    max-width: 520px;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 300;
  }

  .item-quote {
    position: absolute;
    left: 35vw;
    top: 15vh;
    z-index: 2;
    max-width: 220px;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 300;

    @include media($mobile) {
    }

    .item-misc-blue {
      position: absolute;
      left: 0;
      top: -40px;
      z-index: 1;
    }
  }
}

.fuerza-bruta {
  background: #f25430;

  .item-profile-fuerza-bruta {
    position: absolute;
    left: 2vw;
    top: 15vh;
    z-index: 1;
  }

  .svg-circle {
  }

  .item-fuerza-bruta {
    position: absolute;
    right: 2vw;
    bottom: 10vh;
    z-index: 2;
  }

  .item-quote-fuerza-bruta {
    position: absolute;
    left: 2vw;
    color: #dddddd;
    top: initial;
    bottom: 20vh;
    z-index: 2;
    font-family: $mono-font;
  }
}

.fiesta-marcas {
  min-height: 100vh;
  .item-profile-marcas {
    position: absolute;
    right: 2vw;
    top: 15vh;
    z-index: 1;
  }

  .svg-circle {
  }

  .item-fiestas-marcas {
    position: absolute;
    left: 2vw;
    top: 10vh;
    z-index: 2;
  }

  .item-quote-fiesta-marcas {
    position: absolute;
    left: 2vw;
    color: #dddddd;
    top: 45vh;

    z-index: 2;
    font-size: 0.75rem;
    max-width: 450px;
    line-height: 1.5rem;
    font-weight: 300;
    font-family: $mono-font;
  }
}

.sucre {
  .item-profile-sucre {
    position: absolute;
    right: 15vw;
    top: 7vh;
    z-index: 1;
  }

  .svg-circle {
  }

  .item-sucre {
    position: absolute;
    left: 15vw;
    top: -5vh;
    z-index: 2;
    max-width: 460px;
  }

  .item-quote-sucre {
    position: relative;
    left: 0;
    color: #dddddd;
    top: initial;
    bottom: initial;
    z-index: 2;
    font-size: 0.75rem;
    max-width: 450px;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 300;
    font-family: $mono-font;
  }
}
