.item-image {
  position: absolute;
  left: 20vw;
  top: 30vh;
  z-index: 2;
}

.item-title {
  position: absolute;
  left: 5vw;
  top: 25vh;
  z-index: 2;
}

.item-quote {
  position: absolute;
  right: 15vw;
  bottom: 15vh;
  z-index: 2;
}

.svg-circle {
  position: absolute;
  right: 0;
  top: 5vh;
  z-index: 1;
  transition: all 0.8s;
  &:hover {
    //*transform: scale(0.8) !important;
  }
}

.down-arrow {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 15px;
  z-index: 2;
  right: 0;
  transition: all 0.5s;
  text-align: center;
}
/*



*/

section {
  //min-height: 100vh;
  padding: 0 0;
  color: #fff;
      background: #141414;

  .inner-wrapper {
    margin: 0 auto;
    max-width: 1420px;
    padding-top: 70px;
    //padding-bottom: 150px;
    //padding-left: 200px;
  }

  p {
  }
}

.sec-hero {
  //background-image: url("/img/back-hero-home.jpg");
  background-size: 100%;
  background: #141414;
  background-position: center;
  min-height: auto;
  padding: 0;

  .hero-heading {
    position: absolute;
    z-index: 100;
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;

    @include media($mobile) {
    }

    h1 {
      margin: 0 0 10px 0;
    }

    .button {
      letter-spacing: 1px;
    }
  }

  .inner-wrapper {
    padding: 0;
    //overflow: hidden;
    max-width: 1390px;
    position: relative;
    height: 100vh;
  }
}

.ui.button {
  //font-family: $main-font !important;
  //text-transform: uppercase;
}

.photo-album {
  //display: flex;
  //flex-wrap: wrap;

  a {
    //width: 31%;
    //margin: 1%;

    img {
      //width: 100%
    }
  }
}

.social {
  padding: 15px 0;
  /* bottom: 50px; */
  width: 162px;
  text-align: right;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 400;
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);

  @media screen and (max-width: 1100px) {
    display: none;
  }

  a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.book-now-container {
  position: fixed;
  bottom: 15px;
  right: 0;
  padding-right: 15px;
  z-index: 1;
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);

  @include media($mobile) {
    left: 0;
    width: 100%;
    text-align: center;
    background: #f2711c;
    bottom: 0;
    padding: 5px;
  }

  &:hover {
    //transform: scale(1.01);
  }

  .book-now {
    /* border-radius: 5px; */
    text-transform: uppercase;

    .fa {
      margin-right: 5px;
    }
  }
}

.fp-viewing-alojamiento {
  .top-bar {
    background: rgba(40, 43, 41, 0.58);
    padding: 0;
  }
  .social {
    padding: 3px 0;
  }
}

.fp-viewing-lago-puelo {
  .top-bar {
    background: rgba(40, 43, 41, 0.58);
    padding: 0;
  }
  .social {
    padding: 3px 0;
  }
}

.fp-viewing-ubicacion {
  .top-bar {
    background: rgba(40, 43, 41, 0.58);
    padding: 0;
  }
  .social {
    padding: 3px 0;
  }
}

.fp-viewing-contacto {
  .top-bar {
    background: rgba(40, 43, 41, 0.58);
    padding: 0;
  }
  .social {
    padding: 3px 0;
  }
}

section.section {
	.ani-item {
		transform: scale(.8) translateY(0);
		opacity: 0;
		transition: transform 1.5s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 1s ease-in-out;
	}

	.delay-2 {
		transition-delay: .4s;
	}
	.delay-1 {
		transition-delay: 0.2s;
	}
	.delay-4 {
		transition-delay: .8s;
	}
	.delay-3 {
		transition-delay: .6s;
	}

	&.active {
		.ani-item {
			transform: scale(1) translateY(0);
				opacity: 1;
		}

	}
}
