$mobile: new-breakpoint(max-width 500px 4);

section {
	.inner-wrapper {
		height: 100vh;
		position: relative;
		
		.item-quote, .item-image-quote {
			z-index: 3;
		}
	}
}

.sec-intro {

	.item-title{
		@include media($mobile) {
			width: 75vw;
		}
	}

	.item-image{
		@include media($mobile) {
			top: 80px;
		    right: initial;
		    left: 10px;
		    width: 89vw;
		}
	}

	.item-quote {
		@include media($mobile) {
			right: 8px;
			left: initial;
			width: 39vw;
			bottom: 18vh;
		}
	}
}

.sec-about {
	.svg-circle {

		@include media($mobile) {
			z-index: 0;
		}
	}
	.item-image {
		@include media($mobile) {
			width: 70vw;
			left: 5vw;
			top: 17vh;
		}
	}
	.item-title {
		@include media($mobile) {
			width: 85vw;
			left: 5vw;
			top: 65vh;
		}
	}
}

.sec-media {
	.item-quote {
		left: 5vw;
	    top: 25vh;
	    bottom: initial;
	    
	    @include media($mobile) {
	    	text-align: right;
	    	left: initial;
	    	right: 0;
	    	top: 80px;

	    }
	}
	.item-title {
		left: 5vw;
	    right: initial;
	    bottom: 5vh;
	    top: initial;
	    width: 30vw;
	    z-index: 99;
		
		img {
			width: 100%;
		}

		@include media($mobile) {
			width: 75vw;
			bottom: 60px;
		}
	}
	.svg-circle {
		right: 40vw;
		top: 15vh;
		@include media($mobile) {
			z-index: 0;
		}
	}
	.item-image {
		left: initial;
		right: 5vw;
		bottom: 5vh;
		top: initial;
		@include media($mobile) {
			right: 0vw;
			text-align: right;
			bottom: 15vh;
			top: initial;
			width: 100vw;
		}
		img {
			width: 25vw;
			@include media($mobile) {
				width: 60vw;
			}
		}
	}
	.item-image-quote {
		margin-top: 2vh;
		@include media($mobile) {
			width: 100%;
			bottom: -50px;
			text-align: left;
			left: 46px;
			position: absolute;
		}
	}
}



.sec-creamfields {
	.item-quote {
		right: 25vw;
		left: initial;
	    top: 30vh;
	    bottom: initial;
	    z-index: 9;
	    line-height: 25px;
	    
        @include media($mobile) {
			font-size: 10px;
			text-align: right;
			line-height: 16px;
    	}

	}
	.item-title {
		left: 5vw;
	    right: initial;
	    top: 15vh;
	    bottom: initial;
	    z-index: 9;
	    
	    @include media($mobile) {
	    	width: 60vw;
	    }
		
		img {
			width: 20vw;
			@include media($mobile) {
				width: 100%;
			}
		}
	}
	.item-title-2 {
		position: absolute;
		left: 25vw;
	    right: initial;
	    bottom: 5vh;
	    top: initial;
	    z-index: 99;
	    
	    @include media($mobile) {
	    	left: 10px;
		}
		
		img {
			width: 30vw;
			
		    @include media($mobile) {
		    	width: 70vw;
			}
		}
	}
	.item-title-3 {
		position: absolute;
		right: 0;
		left: initial;
		bottom: 5vh;
		top: 15vh;
		z-index: 9;
		
		img {
			height: 100%;
				    
			@include media($mobile) {
				height: auto;
				width: 16vw;
			}
		}
	}
	.svg-circle {
		right: 40vw;
		top: 15vh;
		width: 50vh;
	}
	.item-image {
		left: 5vw;
		right: initial;
		top: 30vh;
		bottom: initial;
		
		img {
			width: 40vw;
			    @include media($mobile) {
			    	width: 80vw;
				}
		}
	}
	
}




.sec-new-york {
	.item-quote {
		left: 25vw;
		right: initial;
	    top: 30vh;
	    z-index: 99;
	    line-height: 25px;
		@include media($mobile) {
			text-align: right;
			font-size: 11px;
			line-height: 15px;
			width: 100%;
			left: 0;
			bottom: 40px;
			top: initial;
		}
	}
	.item-title {
		left: 35vw;
	    right: initial;
	    top: 55vh;
	    bottom: initial;
	    z-index: 9;
	    
	         @include media($mobile) {
	         	top: 50px;
	         	left: 26vw;
	    			}
		
		img {
			width: 20vw;
			    @include media($mobile) {
			    	width: 50vw;
				}
		}
	}
	.item-title-2 {
		position: absolute;
		left: 5vw;
	    right: initial;
	    bottom: 10vh;
	    top: initial;
     @include media($mobile) {
		    	left: 0;
		    	bottom: 19vh;
		    	z-index: 99;
			}

		
		img {
			width: 30vw;
			    @include media($mobile) {
			    	width: 50vw;
				}
		   
		}
	}
	.item-title-3 {
		position: absolute;
		left: 5vw;
		right: initial;
		bottom: initial;
		top: 15vh;
		z-index: 99;
		
		img {
			width: 50vw;
			
		    @include media($mobile) {
		    	width: 70vw;
			}
		}
	}
	.svg-circle {
		right: 40vw;
		top: 15vh;
		width: 50vh;
	}
	.item-image {
		right: 5vw;
		left: initial;
		bottom: 10vh;
		top: initial;
	    @include media($mobile) {
	    	bottom: 30vh;
		}
		img {
			width: 20vw;
			
		    @include media($mobile) {
		    	width: 50vw;
			}
		}
	}
}


.sec-fuerza-bruta {
	background: #f25430;
	.item-quote {
		right: 5vw;
	    top: 55vh;
	    left: initial;
	    bottom: initial;
	    text-align: right;
	    
        @include media($mobile) {
        	top: 66vh;
    	}
	}
	.item-title {
		right: 5vw;
	    left: initial;
	    bottom: 5vh;
	    top: initial;
	    z-index: 9;
	    
        @include media($mobile) {
        	bottom: initial;
        	top: 53vh;
    	}
		
		img {
			width: 50vw;
			
			    @include media($mobile) {
			    	width: 75vw;
				}
		}
	}
	.svg-circle {
		right: 5vw;
		top: 15vh;
		left: initial;
		bottom: initial;
	    @include media($mobile) {
	    	right: 0;
		}
	}
	.item-image {
		right: initial;
		left: 5vw;
		bottom: initial;
		top: 15vh;
	    
	    @include media($mobile) {
	    	top: 25vh;
		}

		img {
			width: 50vw;
			
		    @include media($mobile) {
		    	width: 80vw;
			}
		}
	}
	.item-image-quote {
		margin-top: 2vh;
	}
}

.sec-fiestas {
	.party-container {
		position: absolute;
		right: 5vw;
		top: 20vh;
		width: 35vw;
	    @include media($mobile) {
	    	width: 83vw;
	    	top: 60px;
		}
	}
	.item-quote {
		position: relative;
		right: 0;
	    top: 15px;
	    left: initial;
	    bottom: initial;
	    text-align: right;
	    z-index: 3;
	    
	    
	    img {
	    	width: 100%;
	    }
	}
	.item-title {
		position: relative;
		right: 0;
	    left: initial;
	    bottom: initial;
	    top: initial;
	    z-index: 9;
		
		img {
			width: 100%;
		}
	}
	.item-title-2 {
		position: relative;
		right: 0;
	    left: initial;
	    bottom: initial;
	    top: initial;
	    z-index: 9;
		
		img {
			margin-top: 15px;
			width: 100%;
		}
	}
	.svg-circle {
		right: 0;
		top: 15vh;
		left: initial;
		bottom: initial;
	}
	.item-image {
		right: initial;
		left: 5vw;
		bottom: initial;
		top: 15vh;
		
		    @include media($mobile) {
		    	top: initial;
		    	bottom: 5vh;
		    	left: 7px;
			}
		
		img {
			width: 50vw;
			    @include media($mobile) {
			width: 83vw;

				}
		}
	}

}



.sec-la-caracola {
	.item-title {
		left: 7vw;
	    right: initial;
	    bottom: 10vh;
	    top: 15vh;
	    width: 30vw;
		z-index: 3;
		
	    @include media($mobile) {
	    	width: 100vw;
	    	text-align: center;
	    	left: 0;
	    	right: 0;
	    	top: 50px;
	    	bottom: 75px;
		}
		img {
			height: 100%;
		}
	}
	.svg-circle {
		right: 40vw;
		top: 15vh;
	}
	.item-image {
		left: initial;
		right: 7vw;
		bottom: 5vh;
		top: 15vh;
		width: 30vw;
		
	    @include media($mobile) {
	    	display: none;
		}
		
		img {
			height: 100%;
		}
	}
	.item-image-quote {
		margin-top: 1vh;
		font-size: .7rem;
		text-align: center;
		max-width: 100%;
		position: relative;
		left: -5px;
		padding-right: 65px;
		    @include media($mobile) {
padding: 0;
left: 0;
			}
	}
}


.sec-performance {
	.performance {
		position: absolute;
		    top: 35vh;
		    left: 2vw;
		    z-index: 99;
	}
	.item-quote {
		position: relative;
		left: 0;
		top: 0;
		bottom: initial;
	    
	    img {
	    	width: 100%;
	    }
	}
	.item-title {
		position: relative;
		    left: 0;
		    right: initial;
		    bottom: initial;
		    top: 15px;
		
		img {
			width: 100%;
		}
	}
	.svg-circle {
		left: 30vw;
		top: 25vh;
	}
	.item-image {
left: initial;
    right: 5vw;
    bottom: 5vh;
    top: 15vh;
    text-align: right;
		
		img {
			height: 100%;
		}
	}

}



.sec-gallery {
	
	.item-title {
		position: relative;
	    left: 30vw;
	    right: initial;
	    bottom: initial;
	    top: -125px;
	    width: 40vw;
	    z-index: 1;
		
		img {
			width: 100%;
		}
	}

	.owl-nav.disabled {
		position: absolute;
		top: -80px;
		left: 0;
		right: 0;
		display: block !important;
	}
	.owl-dots {display: none;}
	.owl-prev,
	.owl-next {
		width: 88px;
		height: 88px;
		background-repeat: no-repeat !important;
		position: relative;
		transition: all 1s;
		span {
			opacity: 0;
		}

		&:hover {
			transform: scale(1.05);
		}
	}

	.owl-prev {
		background: url('/img/home/left-arrow.svg') !important;
		left: -20vw;
		top: -60px;
	}
	.owl-next {
		background: url('/img/home/right-arrow.svg') !important;
		right: -20vw;
		top: -60px;
		
	}

	.owl-carousel {
		position: absolute;
		top: 50vh;
	}
	.svg-circle {
		left: 30vw;
		top: 25vh;
	}
	.item-image {
		left: initial;
		right: 5vw;
		bottom: 5vh;
		top: 15vh;
		text-align: right;
		
		img {
			height: 100%;
		}
	}

}


.sec-turbosonora {
	.item-title {
		left: 15vw;
	    right: initial;
	    bottom: initial;
	    top: 35vh;
	    width: 30vw;
		
		img {
			width: 100%;
		}
	}
	.svg-circle {
		right: 15vh;
		top: 23vh;
	}
	.item-image {
		left: initial;
		right: 20vw;
		bottom: initial;
		top: 35vh;
		width: 30vw;
		
		img {
			width: 100%;
		}
	}
	.item-quote {
		top: 20vh;
		bottom: initial;
		left: 50vw;
		font-size: 12px;
		line-height: 22px;
	}
}

.sec-metrodance {
	.item-title {
		left: initial;
	    right: 10vh;
	    bottom: initial;
	    top: 45vh;
	    width: 70vw;
		
		img {
			width: 100%;
		}
	}
	.item-title-2 {
		left: 5vw;
		bottom: initial;
		top: 22vh;
		z-index: 9;
		width: 20px;
		position: absolute;
		
		img {
			width: 100%;
		}
	}

	.item-image {
		left: 0;
	    right: initial;
	    bottom: initial;
	    top: 25vh;
	    width: 40vw;
		
		img {
			width: 100%;
		}
	}
	.item-quote {
		position: absolute;
	    right: 15vw;
	    top: 25vh;
	    z-index: 2;
	    text-align: left;
	    bottom: initial;
	    width: 210px;
	}
	.item-image-quote {
		position: absolute;
		right: 15vw;
		bottom: 15vh;
		z-index: 2;
	}
}

.sec-winter-session {
	.item-title {
		left: initial;
		right: 70vh;
		bottom: initial;
		top: 15vh;
		width: 25vw;
		
		img {
			width: 100%;
		}
	}
	.item-title-2 {
		right: 5vw;
		top: initial;
		bottom: 5vh;
		z-index: 9;
		position: absolute;
		width: 45vw;
		
		img {
			width: 100%;
		}
	}

	.item-image {
		left: initial;
		right: 12vw;
		bottom: initial;
		top: 25vh;
		width: 40vw;
		
		img {
			width: 100%;
		}
	}
	.item-quote {
		position: absolute;
		right: initial;
		top: initial;
		z-index: 2;
		text-align: left;
		bottom: 15vh;
		left: 5vw;
	}
	.svg-circle {
	    left: 22vw;
	    top: 25vh;

	}
}

.sec-feria-gastronomica {
	.item-title {
		position: absolute;
		left: 5vw;
		top: 40vh;
		z-index: 2;
		
		img {
			width: 70%;
		}
	}

.item-image-quote {
	position: absolute;
    bottom: 5vh;
    left: 5vw;
    font-size: 14px;
}
	.item-image {
		position: absolute;
		right: 0;
		top: 30vh;
		z-index: 2;
		left: initial;
		img {
			width: 100%;
		}
	}

	.svg-circle {
	    right: initial;
	    left: 25vw;
	    top: 25vh;

	}
}


.sec-musicon {
	.item-title {
		position: absolute;
		right: 20vw;
		bottom: 20vh;
		z-index: 2;
		left: initial;
		top: initial;
		width: 40vw;
		
		img {
			width: 100%;
		}
	}

	.item-image {
		position: absolute;
		right: initial;
		top: 20vh;
		z-index: 2;
		left: 15vw;
		width: 80vh;
		img {
			width: 100%;
		}
	}

	.svg-circle {
		right: 15vw;
	    top: 20vh;
	}

	.item-image-quote {
		position: relative;
	    font-size: 11px;
	    top: 15px;
	}
}


.sec-por-amor {
	.item-title {
		position: absolute;
		    right: initial;
		    bottom: initial;
		    z-index: 2;
		    left: 26vw;
		    top: 45vh;
		    width: 30vw;
		
		img {
			width: 100%;
		}
	}
	.item-title-2 {
		position: absolute;
		right: initial;
		top: 20vh;
		z-index: 2;
		left: 5vw;
		bottom: initial;
		width: 45vw;
		
		img {
			width: 100%;
		}
	}

	.item-image {
		position: absolute;
		right: 15vw;
		bottom: 10vh;
		z-index: 2;
		left: initial;
		width: 70vh;
		top: initial;
		img {
			width: 100%;
		}
	}

	.svg-circle {
		left: 25vw;
		top: 50vh;
	}

	.item-image-quote {
		position: absolute;
	    font-size: 11px;
	    top: initial;
	    bottom: 10vh;
	    left: 25vw;
	    text-align: right;
	    line-height: 22px;
	}
}

.sec-cubras {
	

	.item-image {
		left: 15vh;
		top: 15vh;
		z-index: 2;
		width: 40vw;
		img {
			width: 100%;
		}
	}
	.item-image-quote {
		right: 18vw;
		    top: 51vh;
		    z-index: 2;
		    left: initial;
		    position: absolute;
	}
	.item-quote {
		left: initial;
		top: 7px;
		z-index: 2;
		right: 7px;
		position: relative;
		text-align: right;
	}
	.item-title {
		left: initial;
		position: absolute;
		top: 25vh;
		z-index: 2;
		right: 15vw;
	}

	.item-misc {
	    position: absolute;
	    right: 50vh;
	    bottom: 20vh;
	    z-index: 11;
	}

	.item-title-2 {
		left: 7vw;
		    bottom: 5vh;
		    z-index: 2;
		    right: initial;
		    position: absolute;
	}
}

.sec-contacto {
	form {
		    @include media($mobile) {
		    	display: none !important;
			}
	}
}